<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
		<link rel="icon" type="image/png" href="./img/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Boingo</title>

		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

		<!--     Fonts and icons     -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

		<!-- CSS Files -->
	    <link href="./css/bootstrap.min.css" rel="stylesheet" />
	    <link href="./css/material-kit.css?v=1.2.0" rel="stylesheet"/>
	    <link href="./css/custom-css.css" rel="stylesheet"/>
	</head>

	<body>
		<!-- Navbar will come here -->
		<nav class="navbar navbar-danger" role="navigation">
			<div class="container-fluid">
		    	<div class="navbar-header">
		    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		    		</button>
		    		<a class="navbar-brand" href="#">Boingo</a>
		    	</div>

		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    		<ul class="nav navbar-nav">
						<!-- <li class="active"><a href="#">Link</a></li>
		        		<li><a href="#">Link</a></li>
		        		<li class="dropdown">
		        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		        			<ul class="dropdown-menu">
							  <li><a href="#">Action</a></li>
							  <li><a href="#">Another action</a></li>
							  <li><a href="#">Something else here</a></li>
							  <li class="divider"></li>
							  <li><a href="#">Separated link</a></li>
							  <li class="divider"></li>
						      <li><a href="#">One more separated link</a></li>
		        			</ul>
		        		</li>-->
		    		</ul>
		    	</div>
			</div>
		</nav>	    	
		<!-- end navbar -->