<% include header %>
<!-- <%= message %> -->

<div class="pricing-3 section-image" style="background-image: url('./img/examples/city.jpg')" id="pricing-3">

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2 class="title">Pick your team</h2>
					<h5 class="description">One is good, the other is good too.</h5>
					<div class="section-space"></div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-4 col-md-offset-2">
					<div class="card card-pricing">
						<div class="card-content">
							<!-- <h6 class="category">Engineering</h6>
							<h1 class="card-title"><small>$</small>0<small>/mo</small></h1>
							<ul>
								<li><b>1</b> Project</li>
								<li><b>10</b> Team Members</li>
								<li><b>50</b> Personal Contacts</li>
								<li><b>500</b> Messages</li>
							</ul> -->
							<a href="./first" class="btn btn-danger btn-round">
								Enter
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-pricing card-raised">
						<div class="card-content content-danger">
							<!-- <h6 class="category text-info">Premium</h6>
							<h1 class="card-title"><small>$</small>199<small>/mo</small></h1>
							<ul>
								<li><b>1000</b> Projects</li>
								<li><b>100</b> Team Members</li>
								<li><b>550</b> Personal Contacts</li>
								<li><b>50.000</b> Messages</li>
							</ul> -->
							<a href="./second" class="btn btn-white btn-round">
								Enter
							</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

<% include footer %>